.books-container{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    gap: 25px;
    padding: 30px;
    max-width: 720px;
    width: 100%;
    border: 2px solid #000;
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
    margin-top: 30px;
    cursor: pointer;
}

.books-container:hover{
    box-shadow: 0px 10px 0px 0px #000;
    translate: 0 -20px;
}


.main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-section{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;
}

.username{
    display: flex;
    color: var(--Dark-blue);
    font-weight: 700;
    line-height: 25px;
}

.content, .duration{
    color: var(--Grayish-Blue);
}

.content{
    width: 100%;
    line-height: 30px;
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
}